<header class="header shadow-sm">
  <div class="container">
    <div class="header-content">
       <!-- Logo -->
      <a routerLink="/home" class="logo-link">
        <img src="assets/logo/logo.png" alt="صحيح البخاري" class="logo" />

      </a>

      <div class="search-container d-flex align-items-center bg-white rounded-pill px-3 py-1 shadow-sm border">
        <i class="bi bi-search text-muted"></i>
        <input 
          type="text" 
          class="form-control border-0 shadow-none ps-2" 
          placeholder="بحث..." 
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearch($event)"
        >
      </div>

     
    </div>
  </div>
</header>
