.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    width: 100%;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    color: var(--bs-primary) !important;
}